<h3>About Me</h3>

<p>My name is Athif Wulandana, and I'm a senior at Northwestern University studying computer science. Welcome to my personal website! You can reach me <a href="mailto: athif@u.northwestern.edu">here</a>.</p>
<p>Source code for this site can be found on my <a href="https://github.com/athifw">GitHub</a> account.
<p>You can also access this blog via RSS feed <a href="http://athifw.github.io//feed.xml">here</a>.

<link href="/css/bootstrap.css" rel="stylesheet">
<ul class="nav nav-list">
  <li class="nav-header">Recent Posts</li>
  {% for post in site.posts limit: 5 %}
    {% if post.url == request.original_url %}
    <li class="active"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% else %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>